body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    height: 1500px;
}

#fadeInelements{
    transition: opacity 1s ease-in;
    opacity: 0;
}

#fadeInelements.fade{
    opacity: 1;
}

#imgOfme{
    width: 230px;
    position: absolute;
    left: 5%;
    top: 70px;
    box-shadow: 1px 3px 5px 1px rgb(144, 136, 124);
}

.name{
    position: absolute;
    left: 5%;
    bottom: 250px;
    font-size: 30px;
}

h2{
    font-size: 23px;
}

.personligProfil{
    position: absolute;
    left: 3%;
    top: 500px;
}

#personligProfil{
    position: absolute;
    left: 3%;
    top: 550px;
    width: 230px;
}

.backgroundSide{
    width: 370px;
    height: 1500px;
    margin-left: 0%;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0,.7);
    background: rgb(246,232,201);
    background: linear-gradient(90deg, rgba(246,232,201,1) 0%, rgba(237,229,194,1) 100%); 
}


.meriter{
    position: absolute;
    left: 3%;
    top: 720px;
}

.meriterList{
    position: absolute;
    left: 0%;
    top: 760px;
}

.kontakt{
    position: absolute;
    left: 3%;
    top: 980px;
}

.kontaktList{
    position: absolute;
    left: 0%;
    top: 1030px;
    list-style-type: none;
}

h3{
    font-size: 28px;
}

.arbetslivserfarenhet{
    position: absolute;
    bottom: 600px;
    left: 55%
}

#line1{
    width: 70%;
    background-color: black;
    height: 1px;
    position: absolute;
    bottom: 600px;
    left: 27%;
}


.arbetslivserfarenhetList{
    position: absolute;
    left: 45%;
    top: 170px;
    line-height: 25px;
}

.title{
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
}

.underTitle{
    list-style-type: none;
    font-size: 17px;
}

.listItem{
    position: relative;
    top: 2px;
    left: 25px;
}

.utbildning{
    position: absolute;
    left: 57%;
    top: 800px;
}

#line3{
    width: 70%;
    background-color: black;
    height: 1px;
    position: absolute;
    top: 700px;
    left: 27%;
}


#line2{
    width: 70%;
    background-color: black;
    height: 1px;
    position: absolute;
    top: 880px;
    left: 27%;

}

#line5{
    width: 1px;
    background-color: black;
    height: 600px;
    position: absolute;
    top: 125px;
    left: 30%;
}

#line6{
    width: 1px;
    background-color: black;
    height: 600px;
    position: absolute;
    top: 125px;
    left: 94%;
}

#line7{
    width: 1px;
    background-color: black;
    height: 400px;
    position: absolute;
    top: 850px;
    left: 94%;
}

#line8{
    width: 1px;
    background-color: black;
    height: 400px;
    position: absolute;
    top: 850px;
    left: 30%;
}

.utbildningList{
    position: absolute;
    left: 45%;
    top: 900px;
    line-height: 25px;
}

#btnPortfolio{
    position: absolute;
    left: 50%;
    top: 1300px;
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-weight:600;
    border-radius: 4px;
    box-shadow: 0 8px 10px -8px rgba(0, 0, 0,.7);
    background: rgb(246,232,201);
    background: linear-gradient(90deg, rgba(246,232,201,1) 0%, rgba(237,229,194,1) 100%);
}

#line4{
    width: 70%;
    background-color: black;
    height: 1px;
    position: absolute;
    top: 1220px;
    left: 27%;
}

