body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    height: 2110px;
}

#imgOfme{
    width: 15%;
    position: absolute;
    left: 4%;
    top: 300px;
    box-shadow: 5px 7px 5px 5px rgb(144, 136, 124);
}

.name{
    position: absolute;
    left: 5%;
    bottom: 250px;
    font-size: 27px;
}

h2{
    font-size: 23px;
}

.personligProfil{
    position: absolute;
    left: 6.5%;
    top: 500px;
}

#personligProfil{
    position: absolute;
    left: 3%;
    top: 550px;
    width: 20%;
}

.backgroundSide{
    background-color: beige;
    width: 370px;
    height: 1800px;
    margin-left: 0%;
    box-shadow: 5px 5px 5px 5px grey;
}


.meriter{
    position: absolute;
    left: 3%;
    top: 720px;
}

.meriterList{
    position: absolute;
    left: 0%;
    top: 760px;
}

.kontakt{
    position: absolute;
    left: 3%;
    top: 980px;
}

.kontaktList{
    position: absolute;
    left: 0%;
    top: 1030px;
    list-style-type: none;
}

.arbetslivserfarenhet{
    
}

.arbetslivserfarenhetList{
    position: absolute;
    left: 33%;
    top: 1050px;
    line-height: 25px;
}

.title{
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
}

.underTitle{
    list-style-type: none;
    font-size: 17px;
}

.listItem{
    position: relative;
    top: 2px;
    left: 25px;
}

.utbildning{
    position: absolute;
    left: 45%;
    top: 1600px;
}

.utbildningList{
    position: absolute;
    left: 33%;
    top: 1650px;
    line-height: 25px;
}

#btnPortfolio{
    position: absolute;
    left: 37%;
    top: 2000px;
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-weight:600;
    background-color: beige;
    border-radius: 25px;
}

